{% extends 'base_list.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %}Listado de Publicaciones{% endblock %}

{% block main %}
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'img/ID UHO-01.png' %}" alt="" width="200" height="100">
        <h2>Listado de Publicaciones</h2>
    </div>

    <div class="col-sm-12">
        <div class="table-container">
            <table id="example" class="display responsive table table-striped table-bordered dt-responsive">
                <thead class="bg-dark text-white">
                    <tr>
                        <th class="col-1">No</th>
                        <th class="col-4">Autor/es</th>
                        <th class="col-1">Titulo</th>
                        <th class="col-2">ISBN</th>
                        <th class="col-2">Fecha</th>
                        <th class="col-2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for PubliUnica in publicaciones %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {% for autor in PubliUnica.autores.all %}
                                    {{autor.last_name}} {{autor.first_name}},
                                {% endfor %}
                            </td>
                            <td>{{PubliUnica.titulo}}</td>
                            <td>{{PubliUnica.isbn}}</td>
                            <td>{{Publiunica.fecha_creacion}}</td>
                            <td>
                                <a href="{% url 'PubliUnicaDetail' PubliUnica.id %}"><i class="fas fa-eye px-2 text-success"></i></a>
                                <a href="{% url 'PubliUnicaUpdate' PubliUnica.id %}"><i class="fas fa-pen px-2 text-warning"></i></a>
                                <a href="{% url 'PubliUnicaDelete' PubliUnica.id %}"><i class="fas fa-trash px-2 text-danger"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container-btn">
                <a class="btn btn-primary btn-dark add" href="{% url 'PubliUnicaCreate' %}">A&ntilde;adir</a>
                <a class="btn btn-primary btn-dark back" href="{% url 'dashboard' %}">Atr&aacute;s</a>  
            </div> 
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/dataTable_init.js' %}"></script>
    <script src="{% static 'libs/datatables-1.10.25/js/jquery.dataTables.min.js' %}"></script>
{% endblock %}
