<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Para el Sistema de Gestión de Indicadores de CTI</title>
  
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'libs/webfonts/webfonts-css/all.css' %}" rel="stylesheet">
  
  <style>
    /* Add the necessary CSS styles for the button */
    .button.login__submit {
      /* Add your desired styles here */
    }
  </style>
</head>
<body>
<div class="container">
  <div class="screen">
    <div class="screen__content">
      {% if msg %}
        {{msg}}
      {% endif %}
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          {{form.username}}
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          {{form.password}}
        </div>
     
        <button class="button login__submit">
          <span class="button__text">Acceder</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <h3>log in via</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon fab fa-instagram"></a>
          <a href="#" class="social-login__icon fab fa-facebook"></a>
          <a href="#" class="social-login__icon fab fa-twitter"></a>
        </div>
      </div>
    </div>
  
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
</body>
</html>


