i{
    color: black;
    padding: 0 10px 0 10px;
}

.chk-delete{
    padding: 0 10px 0 10px;
}

.container-btn{
    padding: 50px;
    text-align: center;
    display: flex !important;
}

.btn{
    width: 100px;
    margin: 20px;
}

table{
    max-width: 90%;
    align-content: center;
    text-align: center;
}

th{
    text-align: center;
    vertical-align: middle;
}

body{
    background-color: #a9becc;
}