{% extends 'base_list.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}Listado de Premio{% endblock %}

{% block main %}
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4"  src="{% static 'img/ID UHO-01.png' %}" alt="" width="200" height="100">
        <h2>Listado de Premios</h2>
     
    </div>
    <div class="col-sm-12">
        <div class="table-container">
            <table id="example" class="display responsive table table-striped table-bordered dt-responsive">
                <thead class="bg-dark text-white">
                <tr>
                    <th class="col-1">No</th>
                    <th class="col-3">Titulo</th>
                    <th class="col-1">Autores</th>
                    <th class="col-1">Fecha</th>
                    <th class="col-2">Facultad</th>
                    <th class="col-2">Caracter</th>
                    <th class="col-2">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for premio in premio %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{premio.titulo}}</td>
                        <td>
                            {% for autor in premio.autores.all %}
                                {{autor.last_name}} {{autor.first_name}}, 
                            {% endfor %}
                        </td>
                        <td>{{premio.fecha}}</td>
                        <td>{{premio.facultad}}</td>
                        <td>{{premio.caracter_premio}}</td>
                        <td>
                            <a href="{% url 'PremioDetail' premio.id %}"><i class="fas fa-eye px-2 text-success"></i></a>
                            {% if premio.aprobacion == 'Pendiente' or premio.aprobacion ==  'No Valido' %}
                            <a href="{% url 'PremioUpdate' premio.id %}"><i class="fas fa-pen px-2 text-warning"></i></a>
                            {% endif %} 
                            <a href="{% url 'PremioDelete' premio.id %}"><i class="fas fa-trash px-2 text-danger"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container-btn">
            <a class="btn btn-primary btn-dark add" href="{% url 'PremioCreate' %}">A&ntilde;adir</a>
            <a class="btn btn-primary btn-dark back" href="{% url 'dashboard' %}">Atr&aacute;s</a>  
        </div> 
    </div>  
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/dataTable_init.js' %}"></script>
    <script src="{% static 'libs/datatables-1.10.25/js/jquery.dataTables.min.js' %}"></script>
{% endblock %}
